---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/tailwind.css'
import { SlSocialLinkedin } from "react-icons/sl";
import { SlSocialGithub } from "react-icons/sl";

---

<Layout title="Carson Smith">
	<main>
		<div class="flex justify-center items-center h-screen">
			<div class="container mx-auto">
				<div class="mx-auto">
					<div class="flex justify-center items-center">
						<img src="/cat.jpg" alt="Cat" class="content-center"></img>
					</div>
					<h1 class="text-6xl font-bold text-center text-white my-10">Carson Smith</h1>
					<div class="text-3xl italic text-center text-blue-100 mb-3">
						"Hello, can code."
					</div>
					<div class="flex justify-center items-center">
						<nav class="flex justify-center mx-3 items-center">
							<div class="text-blue-300 font-bold text-xl hover:text-blue-500 transition-colors duration-200">
								<a href="./"Resume
							</div>

						</nav>
					</div>
				</div>
			</div>
		</div>

	</main>
</Layout>
