---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'
import '../styles/tailwind.css'
---
<Layout title="Music | Carson Smith">
    <Navbar />
    <main>
        <div class="text-white h-full px-5 flex flex-col mt-5 mb-5">
            <div class="mx-auto w-full max-w-screen-lg h-full flex gap-5">
                <div class="flex-1 flex items-center justify-center text-blue-200 font-bold text-5xl">
                    Composing Orchestral Tracks For Your Indie Game Or Short Film
                </div>
                <div class="border-l-4 border-white h-full mx-5" />
                <div class="flex-1 flex items-center justify-center italic text-xl">
                    The importance of music within games and film cannot be emphasized enough. Original soundtracks are expertly crafted to be out of the way in the viewer's perspective until crucial moments—when they underscore pivotal moments and refine the emotions felt by the viewer.
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center mt-10">
            <div class="text-white h-full flex px-20">
                <div class="flex-1 flex justify-center font-bold text-4xl text-blue-200">
                    Experience
                </div>
                <div class="flex-1 flex justify-center text-xl">
                    Since 2021 I've composed instrumental game tracks on-and-off for small developers on Roblox. I specialize in orchestral and instrumental tracks for a variety of musical roles in your game. I can compose for ambience, for action, and across a broad spectrum of emotions. I can compose music across a variety of Western historical styles, from 18th century baroque all the way to modern day orchestral work, and anything in between.
                </div>
                <div class="flex-1 flex justify-center font-bold text-4xl text-blue-200">
                    Works
                </div>
                <div class="flex-1 flex justify-center text-xl">
                    N/A at the moment. Working on re-uploading work.
                </div>
            </div>
        </div>
    </main>
</Layout>