@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .root {
    --text: #ffffff;
    --background: #03256c;
    --primary: #2541b2;
    --secondary: #1768ac;
    --accent: #06bee1;

    --text-50: #0d0a10;
    --text-100: #1a1320;
    --text-200: #35273f;
    --text-300: #4f3a5f;
    --text-400: #694e7e;
    --text-500: #84619e;
    --text-600: #9c81b1;
    --text-700: #b5a0c5;
    --text-800: #cec0d8;
    --text-900: #e6dfec;
    --text-950: #f3eff5;

    --background-50: #0d0d0d;
    --background-100: #1a1a1a;
    --background-200: #333333;
    --background-300: #4d4d4d;
    --background-400: #666666;
    --background-500: #808080;
    --background-600: #999999;
    --background-700: #b3b3b3;
    --background-800: #cccccc;
    --background-900: #e6e6e6;
    --background-950: #f2f2f2;

    --primary-50: #0e0514;
    --primary-100: #1c0a29;
    --primary-200: #381551;
    --primary-300: #541f7a;
    --primary-400: #702aa2;
    --primary-500: #8c34cb;
    --primary-600: #a35dd5;
    --primary-700: #ba85e0;
    --primary-800: #d1aeea;
    --primary-900: #e8d6f5;
    --primary-950: #f4ebfa;

    --secondary-50: #0e0317;
    --secondary-100: #1d062d;
    --secondary-200: #3a0c5a;
    --secondary-300: #561287;
    --secondary-400: #7317b5;
    --secondary-500: #901de2;
    --secondary-600: #a64ae8;
    --secondary-700: #bc78ed;
    --secondary-800: #d3a5f3;
    --secondary-900: #e9d2f9;
    --secondary-950: #f4e8fc;

    --accent-50: #0e0119;
    --accent-100: #1d0132;
    --accent-200: #3a0264;
    --accent-300: #560396;
    --accent-400: #7304c8;
    --accent-500: #9005fa;
    --accent-600: #a637fb;
    --accent-700: #bc69fc;
    --accent-800: #d39bfd;
    --accent-900: #e9cdfe;
    --accent-950: #f4e6fe;
  }
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--background);
  overflow: hidden;
}

#root {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}
