---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'
import {CourseCard} from '../components/CourseCard.tsx'
import {courses} from '../util/Courses'
import '../styles/tailwind.css'
import React from "react";
---

<Layout title="Academics | Carson Smith">
    <Navbar />
    <div class="flex flex-col w-full max-w-screen-lg my-5 mx-auto">
        <div class ="flex-1 flex justify-center text-blue-200 font-bold mb-5 text-5xl">
            Academics
        </div>
        <div class="flex-1 flex text-center justify-center text-white font-bold mb-5 text-xl">
            This is a summary of my coursework and academic highlights during my time pursuing a B.S. in Computer Information Systems and Technology (CIS Tech).
        </div>
        <div class="flex-1 flex text-left text-white mb-3 text-xl">
            In-Progress Courses:
        </div>
        {courses.map((course) => {
            return <CourseCard course={course}/>
        })}
        <div class="flex-1 flex text-left text-white mb-3 text-xl">
            Major Projects:
        </div>
        <div class="flex-1 flex text-left mb-5 text-white">
            <a class="text-blue-400 underline hover:text-blue-500" href="https://portfolio.cartt.one/" target="_blank" rel="noopener noreferrer">BCOM 1300 Portfolio</a>
        </div>
    </div>
</Layout>