---
import Layout from '../layouts/Layout.astro';
import '../styles/tailwind.css'
import GithubIcon from '../components/GithubIcon.tsx'
import LinkedinIcon from '../components/LinkedinIcon.tsx'

---

<Layout title="Carson Smith">
	<main>
		<div class="flex justify-center items-center h-screen">
			<div class="container max-h-full max-w-4xl p-10 mx-auto">
				<div class="flex flex-col justify-center items-center">
					<img src="/cat.jpg" alt="Cat" class="content-center w-1/2 h-auto mb-6"></img>
				</div>
				<h1 class="text-4xl md:text-6xl font-bold text-center text-white mb-3">Carson Smith</h1>
				<script>
					document.addEventListener('DOMContentLoaded', () => {
						const messages = [
							'"Me when the uhhh... when the uh... the uh... the..."',
							'"It\'s always DNS."',
							'"Real men test on prod."',
							'"It works on my machine!"',
							'"You\'re on call tonight."',
							'"There’s no place like 127.0.0.1."',
							'"This is fine."',
							'"In theory, theory and practice are the same. In practice, they are not."',
							'"I think, therefore I am."',
							'git commit -m \'did a thing\'',
							'"Google wrote more of my code than me."',
							'"Oh, you fixed it? What did you break instead?"',
							'"Comment your code!"',
							'"Let’s just comment that out and pretend it never happened."',
							'git push --force',
							'git reset --hard HEAD'
						];

						const randomMessage = messages[Math.floor(Math.random() * messages.length)];
						document.getElementById('random-text').innerText = randomMessage;
					});

				</script>
				<div id="random-text" class="text-xl md:text-3xl italic text-center text-blue-100 mb-3"></div>
				<div class="flex flex-col justify-center items-center mb-3">
					<nav class="space-x-4 flex justify-center mx-3 items-center">
						<a href="/resume" class="text-blue-300 text-lg md:text-xl hover:text-blue-500 transition-colors duration-200">Resume</a>
						<a href="/music" class="text-blue-300 text-lg md:text-xl hover:text-blue-500 transition-colors duration-200">Music</a>
						<a href="/projects" class="text-blue-300 text-lg md:text-xl hover:text-blue-500 transition-colors duration-200">Projects</a>
						<a href="/academics" class="text-blue-300 text-lg md:text-xl hover:text-blue-500 transition-colors duration-200">Academics</a>
					</nav>
				</div>
				<div class="flex flex-row justify-center items-center space-x-7">
					<GithubIcon />
					<LinkedinIcon />
				</div>
			</div>
		</div>
	</main>
</Layout>
