---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'
import '../styles/tailwind.css'
---

<Layout title="Projects | Carson Smith">
    <Navbar />
    <main>
        <div class="text-white h-full px-5 flex flex-col mt-5 mb-5">
            <div class="mx-auto w-full max-w-screen-lg h-full flex gap-5">
                <div class="flex-1 flex items-center justify-center text-blue-200 font-bold text-5xl">
                    Projects
                </div>
                <div class="border-l-4 border-white h-full mx-5" />
                <div class="flex-1 flex items-center text-right justify-center italic text-xl">
                    Modern development is driven by projects. Be it project-based workflows in the office or pet projects at home, they are the universal top-level organization for creations of all kinds. In this page, I divide projects between "work"—projects for my job—and "play"—projects for fun and for learning.
                </div>
            </div>
        </div>
        <div class="flex flex-col w-full max-w-screen-lg justify-center mx-auto items-center mt-10">
            <div class="mx-auto flex-1 flex w-full justify-center font-bold text-4xl text-blue-200">
                Work
            </div>
            <div class="indent-4 md:indent-8 text-white text-center flex-1 flex w-full justify-center text-xl">
                As the QA Manager at CS_Squared, much of my responsibilities revolve around testing. Out of necessity, I've become familiarized with every tech stack and language we use in the company. Furthermore, I've been deeply involved in both internal and external documentation.
            </div>
            <div class="text-white text-center flex-1 flex w-full justify-center text-xl mt-3">
                CS_Squared projects I've been involved in:
            </div>
            <ul class="text-center text-xl text-white">
                <li><a href="https://cs-squared.org" class="text-blue-400 underline">cs-squared.org</a></li>
                <li><a href="https://codermerlin.academy" class="text-blue-400 underline">codermerlin.academy</a></li>
                <li><a href="https://cs-squared.org/webdev/index.html" class="text-blue-400 underline">CS_Squared Web Development</a></li>
                <li>CS_Squared Fleet Manager</li>
            </ul>

            <div class="flex-1 flex w-full mt-3 justify-center font-bold text-4xl text-blue-200">
                Works
            </div>
            <div class="text-white flex-1 w-full italic flex justify-center text-xl">
                N/A at the moment. Working on re-uploading work.
            </div>
            <div class="mx-auto flex-1 flex w-full justify-center font-bold text-4xl text-blue-200">

            </div>
        </div>
    </main>
</Layout>